@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
}

.p-font{
    font-family: 'Syncopate', sans-serif;
}

h3,p{
    margin: 0;
}

:root{
    --bgmain:#C2F4FF;
    --border: #474747;
    --textblack:#444444;
    --white:#ffff;
    --inactive:#ececec;
    --menu:#DAF6CC;
    --yellow:#F2ED72;
    --intro:#FFE3CE;
    --text-muted:#6F6F6F;
    --button-primary:#FFB9DB;
}

body{
    background-color: var(--bgmain);
}

.alert {
    position: sticky;
    top: 40px;
    z-index: 999;
    padding: 0;
    margin: 0 auto;
    max-width: 500px;
}
.successalert{
    max-width: 500px;
    width: 100%;
    background-color: var(--white);
    position: absolute;
    box-shadow: 10px 5px 30px var(--border);
    padding: 60px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.successalert aside{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23474747FF' stroke-width='3' stroke-dasharray='6%2c 20' stroke-dashoffset='3' stroke-linecap='square'/%3e%3c/svg%3e");
    padding: 16px;
}

.close{
    position: absolute;
    top: 16px;
    right: 10px;
    
}

.close .btn::after{
    display: inline-flex;
    content: '';
    background-image: url('../img/close.svg');
    background-size: 20px 20px;
    position: absolute;
    top: 10;
    right: 14px;
    width: 20px;
    height: 20px;
}

.mycontainer1{
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.mycontainer{
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

nav{
    margin: 0 auto;
    background-color: var(--white);
    border: 4px solid var(--border);
}

nav ul li{
    font-weight: 500;
    transition: 0.3s;
}

nav .nav-link {
    padding-right: 1rem!important;
    padding-left: 1rem!important;
    font-family: 'Syncopate', sans-serif;
    font-size: 0.825em;
    font-weight: 600;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: var(--textblack)!important;
    transition: 0.3s;
}

nav .nav-link:hover {
    background-color: var(--textblack);
    color: white!important;
}

.nav-link{
    padding: 0 1rem;
}


.navbar{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    margin-right: 0;
    font-weight:800;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    border-right:4px solid var(--border) ;
}

.menu1{
    background-color:var(--menu);
    border-right:4px solid var(--border);
}

.intro{
    background-color: var(--intro);
    border:4px solid var(--border);
    border-top: 0px;
    border-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 20px;
    padding: 30px 40px
}

.content-intro{
    max-width: fit-content;
}
.content-intro h1{
    font-weight: 700;
    margin-bottom: 6px;
    font-family: 'Syncopate', sans-serif;
}
.content-intro ul{
    padding-left: 0;
}
.content-intro ul li{
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 700;
}
.content-intro ul .border{
    position: relative;
}
.content-intro ul .border::after{
    display: inline-flex;
    content: '';
    border-right:3px solid var(--border);
    position: absolute;
    top: -4px;
    right: 0;
    width: 3px;
    height: 20px;
}
.content-intro ul .border{
    position: relative;
}

.content-intro p:nth-child(4) span{
    font-weight: 600;
}

.profile-pic{
    /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='black' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 100px; */
    max-width: 240px;
    width: 100%;
    padding: 10px;
}

.profile-image{
    width: 100%;
    height: auto;
    animation: rotation 30s infinite linear;
}

@keyframes rotation{
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

.section-title{
    background-color: var(--border);
    text-align: center;
    padding: 10px 0;
    color: var(--white);
    z-index: 1;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
.section-title h4{
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
}

/*=========== about me===========*/
.about{
    background-color: var(--yellow);
    text-align: left;
    padding:30px 16px ;
    border:4px solid var(--border);
    border-top: 0;
    border-bottom: 0;
}   
.about .brief{
    font-weight: 700;
}   

.mobile{
    display: none;
}
.about-content aside:first-child{
    display: flex;
    flex-direction: row;
    align-items: self-start;
    column-gap: 20px;
}
.about-content p{
    font-weight: 500;
    width: 100%;
    font-size: 1rem;
    color: var(--textblack);
    margin-bottom: 14px;
}
.about-content span{
    font-weight: 600;
    font-size: 1.15rem;
    color: var(--textblack);
}

.about-content button{
    background-color: var(--button-primary);
    box-shadow: -8px 8px 0 var(--border);
    font-family: 'Syncopate', sans-serif;
    border: transparent;
    padding: 8px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--textblack);
    transition: 0.3s;
    
}
.about-content button:hover{
    box-shadow: none;
    
}

.about-content input[type=date] {
    background-color: var(--white);
    border: 3px solid var(--border);
    border-radius: 50px;
    text-align: center;
    max-width: 130px;
    padding: 8px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--textblack);
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
/*------cards1 css------*/

.about-cards{
    margin-top: 60px;
}

.about-cards .card{
    background-color: var(--intro);
    border: 3px solid var(--textblack);
    border-radius: 0;
    min-height: 350px;
    height: 100%;
    text-align: left;
}

.about-cards .mid{
    border-left: none;
    border-right: none;
}


.about-cards .card img{
    position: absolute;
    top: -30px;
    left: 20px;
    max-width: 60px;
    width: 100%;
    height: auto;
}

.about-cards .card-body{
    margin-top: 30px;
}

.about-cards .card-title{
    margin: 20px 0;
    font-weight:bold;
}

/*----cards1 ends-----*/

/*=========== about me===========*/

/*-----skills---*/

.skills{
    background-color: var(--white);
    color: var(--textblack);
    padding: 30px 0;
    border: 4px solid var(--border);
    border-bottom: 0;
    border-top: 0;
}
.skills .card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--intro);
    background-clip: border-box;
    border: 3px solid var(--border);
    border-radius: 0;
}

#tabs1{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.ui-tabs .ui-tabs-nav {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    padding: 0.2em 0.2em 0;
}

li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-tabs-active.ui-state-active {
    background: var(--yellow);
    border: 3px solid var(--border);
    font-weight: 500;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: var(--textblack);
    font-weight: 600;
    text-decoration: none;
}


.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 0 10px;
    background-color: transparent;
    border: 3px solid var(--border);
    border-radius: 0;
    padding: 0;
    white-space: nowrap;
}

.ui-widget-header {
    border: 0;
    background:transparent;
    color: #333333;
    font-weight: bold;
}

.ui-widget-content {
    border: 0;
    background: transparent;
    color: #333333;
}

.ui-widget.ui-widget-content {
    border: 0;
}

/*---accordion---*/

.ui-accordion-header.ui-state-active{
    background-color: var(--button-primary)!important;
    border: 3px solid var(--border);
    color: var(--textblack);
    border-radius: 0;
    outline: none;
    font-weight: 600;
}

#accordion .ui-accordion-header{
    background-color: var(--inactive);
    border-radius: 0;
}

.ui-icon-circle-arrow-s {
    background-position: 1px 1px;
}

.ui-state-active .ui-icon, .ui-button:active .ui-icon {
    background-image: url(https://code.jquery.com/ui/1.13.2/themes/base/images/ui-icons_444444_256x240.png);
}


.ui-accordion .ui-accordion-header .ui-icon 
{ 
    position: absolute; 
    left: 100%; 
    margin-left: -30px; 
    top: 50%; 
    margin-top: -8px; 
    width: 16px;
    height: 16px;
}

.ui-icon-circle-arrow-e {
    background-position: -64px 1px;
}

.ui-accordion .ui-accordion-content {
    padding: 1em 1em;
    border-top: 0;
    overflow: auto;
}

/*--accodion card--*/

.tools-accordion .card-img-top{
    max-width: 60px;
    width: 100%;
    margin:10px 10px;
}

.tools-accordion .card-body {
    flex: 1 1 auto;
    padding: 0.5rem 0.5rem;
}
.tools-accordion .card-body .card-title{
    font-weight: 600;
}
.tools-accordion tbody td {
    font-size: 0.875em;
}

/*---progress bar---*/


.my-progressbar {
	margin-bottom: 10px;
}
.my-progressbar p.title {
	font-size: 1rem;
    font-weight: 700;
	line-height: 20px;
	margin: 0;
	padding: 5px 0;
}
.my-progressbar .bar-container {
	position: relative;
	height: 40px;
}
.my-progressbar .bar-container.shadow {
	-moz-box-shadow: 0px 5px 7px -3px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 5px 7px -3px rgba(0,0,0,.5);
	box-shadow: 0px 5px 7px -3px rgba(0,0,0,.5);
}
.my-progressbar .backgroundBar {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}
.my-progressbar .bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
.my-progressbar .targetBar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	-webkit-animation: Animation 2s infinite ease-in-out;
	-moz-animation: Animation 2s infinite ease-in-out;
	animation: Animation 2s infinite ease-in-out;
}

.my-progressbar .bar-container.border .bar, .my-progressbar .bar-container.border .targetBar, .my-progressbar .bar-container.border .backgroundBar {
	border-bottom: 3px solid rgba(0,0,0,.2);
}
.my-progressbar .progress-percent {
	font-size: 16px;
	position: absolute;
	right: 15px;
}

@keyframes Animation {
  0%   { opacity:.4; }
  50%   { opacity:1; }
  100% { opacity:.4; }
}
@-moz-keyframes Animation{
  0%   { opacity:.4; }
  50%   { opacity:1; }
  100% { opacity:.4; }
}
@-webkit-keyframes Animation{
  0%   { opacity:.4; }
  50%   { opacity:1; }
  100% { opacity:.4; }
}


/*-------------- progress bar ends-----------------*/

#tabs-1 ul li p{
    font-weight: 600;
    font-size: 14px;
}

/*---- journey ----*/

.journey{
    background-color: var(--yellow);
    border: 4px solid var(--border);
    border-bottom: 0;
    border-top: 0;
    padding: 30px 16px;
    position: relative;
}

.journey .card{
    width: 100%;
    border-radius: 0;
    background-color: var(--intro);
    border: 3px solid var(--border);
    padding: 10px;
}

.journey .card-body h6{
    font-weight: 600;
    color: var(--text-muted);
}
.journey .card-body .card-title{
    font-weight: 600;
}

.date{
    font-size: 16px;
    color: var(--textblack);
    margin-bottom: 10px;
    font-weight: 500;
    border: 3px solid var(--border);
    background-color: var(--white);
    border-radius: 50px;
    padding: 6px 12px;
    max-width: fit-content;
}

.comptab{
    position: relative;
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    height: auto;
}

.footleft{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.footright{
    position: absolute;
    right: 16%;
    top: 50%;
    transform: translateY(-50%);
}

/*========== project main css===========*/


.projects{
    background-color: var(--white);
    border: 4px solid var(--border);
    border-top: 0;
    border-bottom: 0;
    padding: 30px 0;
}



.projectgrid{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.projectgrid .grid-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    background-color: var(--intro);
}
.projects_projectgrid_grid-card_aside{
    margin-bottom: 30px;
    min-height: 14ch;
}
.projects_projectgrid_grid-card_aside h5{
    font-weight: 600;
    color: var(--textblack);
}
.projects_projectgrid_grid-card_aside p{
    color: var(--text-muted);
    font-size: 16px;
}
.grid-card aside{
    margin: 18px;
}
.grid-card aside a{
    position: relative;
    text-decoration: none;
    padding: 0.825em 2em 0.825em 0;
    background-color: transparent;
    color: var(--textblack);
    font-size: 1.12rem;
    font-weight: 700;
    font-family: 'Syncopate', sans-serif;
    border-radius: 6px;
    text-transform: uppercase;
}
.grid-card aside a:hover::after{
    right: 0;
    /* background-color: #0000000A; */
}
.grid-card aside a::after {
    content: "";
    position: absolute;
    background: url(../img/arrow-link.svg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 24px;
    height: 24px;
    top: 11px;
    right: 5px;
    transition: 0.3s;
}

.projectgrid img{
    max-width: 310px;
    width: 100%;
    object-fit:cover;
    border: 3px solid var(--border);
}


.gallery{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.gallery img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: -8px 8px 0px var(--text-muted);
}

/*======== contact ===========*/

.contact{
    background-color: var(--intro);
    border: 4px solid var(--border);
    border-top: 0;
    border-bottom: 0;
    width: 100%;
    margin: 0 auto;
    padding: 50px 16px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

button#download{
    background-color: var(--button-primary);
    color: var(--textblack);
    box-shadow: -8px 8px 0 var(--border);
    padding: 14px 0;
    text-align: center;
    font-family: 'Syncopate', sans-serif;
    font-weight: 600;
    width: 100%;
    border: transparent;
    transition: 0.3s;
}
button#download:hover{
    box-shadow: none;
}

/* button#download::after{
    display: inline-flex;
    content: '';
    background-image: url('../img/Icon-feather-download.svg');
    background-size: 20px 20px;
    position: absolute;
    right: 20px;
    width: 20px;
    height: 20px;
} */

.resumbtn{
    grid-column: 3/4;
}
.contact div a{
    color: var(--textblack);
    font-size: 1rem;
    font-weight: 500;
}
.contact div{
    padding: 12px 16px;
    border: 4px solid var(--border);
}
.contact div h4{
    margin: 12px 0 12px 0;
    font-family: 'Syncopate', sans-serif;
    font-weight: bold;
}
.contact div:first-child{
    background-color: var(--yellow);
}

.contact div:first-child address{
    margin-top: 24px;
}
.contact div:first-child address a{
    color: var(--textblack);
    font-family: 'Syncopate', sans-serif;
    font-weight: 600;
    text-decoration: none;
    background-color: var(--button-primary);
    padding: 0.825rem 1.5rem;
    box-shadow: -8px 8px 0 var(--border);
    transition: 0.3s;
}
.contact div:first-child address a:hover{
    box-shadow: none;
}
.contact div:nth-child(2){
    background-color: var(--menu);
}
.contact div:nth-child(3){
    background-color: var(--bgmain);
}
.contact div:last-child{
    border: none;
}

/*========== project page css ============*/

.project-title{
    background-color: var(--intro);
    text-align: left;
    padding:30px 40px ;
    border:4px solid var(--border);
    border-top: 0;
    border-bottom: 0;
}
.project-title h1{
    font-family: 'Syncopate', sans-serif;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0;
}
.project-intro{
    background-color: var(--white);
    border:4px solid var(--border);
    border-top: 0px;
    border-bottom: 0px;
    column-gap: 20px;
    padding: 30px 40px
}
.project-intro section:first-child{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    column-gap: 50px;
    flex-wrap: wrap;
}
.project-intro section:first-child ul{
    list-style: none;
}
.project-intro section:first-child ul li{
    margin: 16px 0;
}
.project-intro section:first-child .project-info ul li p:first-child{
    font-size: 0.825rem;
    font-weight: 600;
    margin-bottom: 3px;
    color: var(--text-muted);
}
.project-intro section:first-child .project-info ul li p:nth-child(2){
    font-size: 1rem;
    font-weight: 800;
    color: var(--textblack);
}
.project-intro .project-slider img{
    max-width: 475px;
    width: 100%;
}

.project-intro section:nth-child(2) article{
    margin: 30px 0;
}
.project-intro section:nth-child(2) article h4{
    font-size: 1.15rem;
    font-weight: 800;
    margin-bottom: 10px;
    color: var(--textblack);
}
.project-intro section:nth-child(2) article p{
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text-muted);
}

.project-intro section figure .pro-gallery{
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
}
.project-intro section figure .pro-gallery a{
    padding: 8px 0;
    box-shadow: -3px 3px 6px var(--inactive);
    transition: ease-in-out 0.3s;
}
.project-intro section figure .pro-gallery img{
    max-width: 475px;
    width: 100%;
    height: auto;
}
.pag-navigate{
    background-color: var(--white);
    border:4px solid var(--border);
    border-top: 0px;
    border-bottom: 0px;
    padding: 10px 40px
}
.pag-navigate section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0 30px 0;
}
.pag-navigate section div .btn{
    padding: 8px 16px;
    border: 3px solid var(--border);
    border-radius: 50px;
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
    transition: ease-in-out 0.3s;
}

.pag-navigate section div .navigate{
    background-color: var(--button-primary);
}
.pag-navigate section div .prenxt:hover{
    background-color: var(--button-primary);
}

.product-content-grid{
    border: 3px solid var(--border) ;
    border-left: 0;
    border-right: 0;
    padding: 18px 0;
}

/*----------- project popup ---------------*/

.btn-pop {
    padding: 8px 16px;
    border: 3px solid var(--border);
    background-color: transparent;
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    border-radius: 50px;
    margin-bottom: 0;
    transition: ease-in-out 0.3s;
}
.btn-pop:hover{
    background-color: var(--button-primary);
}

.fullmod {
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -moz-box-shadow: 0 0px 10px #666;
    -webkit-box-shadow: 0 0px 10px #666;
    box-shadow: 0 0px 10px #666;
    padding: 20px;
    z-index: 1060;
    -webkit-transition: top 0.5s ease;
    -moz-transition: top 0.5s ease;
    -o-transition: top 0.5s ease;
    transition: top 0.5s ease;
    overflow: auto
}

.fullmod.fullmod-hidden {
    visibility: hidden
}

.fullmod.fullmod-hiding {
    overflow: hidden
}

.fullmod .fullmod-content .fullmod-head .title {
    font-size: 2rem;
    margin-bottom: 40px;
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    margin-top: 0
}
.fullmod .fullmod-content .fullmod-head .title {
    font-size: 2rem;
    margin-bottom: 40px;
    margin-top: 0;
    padding: 0 34px;
}

.fullmod .fullmod-content .fullmod-head .buttons {
    position: absolute;
    top: 40px;
    right: 50px
}

.fullmod .fullmod-content .fullmod-head .buttons {
    font-size: 3em;
    color: #333;
    filter: alpha(opacity=30);
    -moz-opacity: .3;
    opacity: .3;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    text-decoration: none
}

.fullmod .fullmod-content .fullmod-head .buttons:hover {
    filter: alpha(opacity=50);
    -moz-opacity: .5;
    opacity: .5
}

.fullmod-open {
    overflow: hidden
}

.pop-close {
    box-sizing: content-box;
    width: 0.6em;
    height: 0.6em;
    padding: 0.25em 0.25em;
    color: #000;
    background-image: url(../img/close.svg);
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
}

/*----------- project popup ends ---------------*/

/*========== footer ================*/

.footer-title{
    background-color: var(--border);
    text-align: center;
    padding: 14px 0;
    color: var(--white);
    font-size: 0.825rem;
}