@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600&family=Rubik:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

h3,p{
    margin: 0;
}

:root{
    --bgmain:#C2F4FF;
    --border: #474747;
    --textblack:#444444;
    --white:#ffff;
    --inactive:#ececec;
    --menu:#C8FAE8;
    --yellow:#FFEB59;
    --intro:#FFEFD2;
    --text-muted:#6F6F6F;
}

body{
    background-color: var(--bgmain);
}

/*--- ScrollFade Specific ---*/

.scrollFade {
	opacity: 1;
	pointer-events: all;
}

.scrollFade--hidden {
	opacity: 0;
	pointer-events: none;
}

.scrollFade--visible {
	opacity: 1;
	pointer-events: all;
}

.scrollFade--animate {
	transition: opacity 0.4s ease-in-out;
}

/*------*/

.topblock{
    width: 100%;
    min-height: 40px;
    background-color: transparent;
}

.alert {
    position: sticky;
    top: 40px;
    z-index: 999;
    padding: 0;
    margin: 0 auto;
    max-width: 500px;
}
.successalert{
    max-width: 500px;
    width: 100%;
    background-color: var(--white);
    position: absolute;
    box-shadow: 10px 5px 30px var(--border);
    padding: 60px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.successalert aside{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23474747FF' stroke-width='3' stroke-dasharray='6%2c 20' stroke-dashoffset='3' stroke-linecap='square'/%3e%3c/svg%3e");
    padding: 16px;
}

.close{
    position: absolute;
    top: 16px;
    right: 10px;
    transition: 0.3s;
}

.close:hover{
    cursor: pointer;
    background-color: var(--inactive);
    border-radius: 12px
}

header{
    position: sticky;
    top: 0;
    z-index: 2;
    margin-left: 16px;
    margin-right: 16px;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.mycontainer1{
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.mycontainer{
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

nav{
    margin: 0 auto;
    background-color: var(--white);
    border: 4px solid var(--border);
}

nav ul li{
    font-weight: 500;
    transition: 0.3s;
}

nav .nav-link {
    padding-right: 1rem!important;
    padding-left: 1rem!important;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    color: var(--textblack)!important;
    transition: 0.3s;
}

nav .nav-link:hover {
    background-color: var(--textblack);
    color: white!important;
}

.nav-link{
    padding: 0 1rem;
}


.navbar{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    margin-right: 0;
    font-weight:800;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    border-right:4px solid var(--border) ;
}

.menu1{
    background-color:var(--menu);
    border-right:4px solid var(--border);
}

.intro{
    background-color: var(--intro);
    border:4px solid var(--border);
    border-top: 0px;
    border-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 20px;
    padding: 30px 40px
}

.content-intro{
    max-width: fit-content;
}
.content-intro h3{
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Anton', sans-serif;
}
.content-intro p:nth-child(4) span{
    font-weight: 600;
}

.profile-pic{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='10' stroke-dasharray='15%2c 15%2c 1' stroke-dashoffset='5' stroke-linecap='square'/%3e%3c/svg%3e");
    max-width: 240px;
    width: 100%;
    padding: 10px;
}

.profile-image{
    width: 100%;
    height: auto;
    animation: rotation 60s infinite linear;
}

@keyframes rotation{
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

button#download{
    background-color: var(--textblack);
    color: var(--white);
    padding: 14px 50px 14px 20px;
    border: transparent;
    position: relative;
    display: flex;
    align-items: center;
}

button#download::after{
    display: inline-flex;
    content: '';
    background-image: url('../img/Icon-feather-download.svg');
    background-size: 20px 20px;
    position: absolute;
    right: 20px;
    width: 20px;
    height: 20px;
}

.section-title{
    background-color: var(--border);
    text-align: center;
    padding: 10px 0;
    color: var(--white);
    z-index: 1;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
.section-title h3{
    font-family: 'Anton', sans-serif;
}

/*=========== about me===========*/
.about{
    background-color: var(--white);
    text-align: left;
    padding:30px 40px ;
    border:4px solid var(--border);
    border-top: 0;
    border-bottom: 0;
}   

.mobile{
    display: none;
}
.about-content aside:first-child{
    display: flex;
    flex-direction: row;
    align-items: self-start;
    column-gap: 20px;
}
.about-content p{
    font-weight: 600;
    width: 100%;
    font-size: 1rem;
    color: var(--textblack);
    margin-bottom: 14px;
}
.about-content span{
    font-weight: 600;
    font-size: 1.15rem;
    color: var(--textblack);
}

.about-content button{
    background-color: transparent;
    border: transparent;
    padding: 8px 12px;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: underline;
    color: var(--textblack);
    
}

.about-content input[type=date] {
    background-color: var(--bgmain);
    border: 3px solid var(--border);
    text-align: center;
    max-width: 130px;
    padding: 8px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--textblack);
    margin: 0 6px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
/*------cards1 css------*/

.about-cards{
    margin-top: 60px;
}

.about-cards .card{
    border: 3px solid var(--textblack);
    border-radius: 0;
    min-height: 350px;
    height: 100%;
    text-align: left;
}

.about-cards .mid{
    border-left: none;
    border-right: none;
}


.about-cards .card img{
    position: absolute;
    top: -30px;
    left: 20px;
    max-width: 60px;
    width: 100%;
    height: auto;
}

.about-cards .card-body{
    margin-top: 30px;
}

.about-cards .card-title{
    margin: 20px 0;
    font-family: 'Anton', sans-serif;
}

/*----cards1 ends-----*/

/*=========== about me===========*/

/*-----skills---*/

.skills{
    background-color: var(--intro);
    color: var(--textblack);
    padding: 30px 0;
    border: 4px solid var(--border);
    border-bottom: 0;
    border-top: 0;
}

#tabs1{
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
}

.ui-tabs .ui-tabs-nav {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    padding: 0.2em 0.2em 0;
}

li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-tabs-active.ui-state-active {
    background: var(--border);
    font-weight: 500;
}


.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 0 10px;
    background-color: transparent;
    border: 3px solid var(--border);
    border-radius: 0;
    padding: 0;
    white-space: nowrap;
}

.ui-widget-header {
    border: 0;
    background:transparent;
    color: #333333;
    font-weight: bold;
}

.ui-widget-content {
    border: 0;
    background: transparent;
    color: #333333;
}

.ui-widget.ui-widget-content {
    border: 0;
}

/*---accordion---*/

.ui-accordion-header.ui-state-active{
    background-color: var(--bgmain)!important;
    border: 3px solid var(--border);
    color: var(--textblack);
    border-radius: 0;
    outline: none;
    font-weight: 600;
}

#accordion .ui-accordion-header{
    background-color: var(--inactive);
    border-radius: 0;
}

.ui-icon-circle-arrow-s {
    background-position: 1px 1px;
}

.ui-state-active .ui-icon, .ui-button:active .ui-icon {
    background-image: url(https://code.jquery.com/ui/1.13.2/themes/base/images/ui-icons_444444_256x240.png);
}


.ui-accordion .ui-accordion-header .ui-icon 
{ 
    position: absolute; 
    left: 100%; 
    margin-left: -30px; 
    top: 50%; 
    margin-top: -8px; 
    width: 16px;
    height: 16px;
}

.ui-icon-circle-arrow-e {
    background-position: -64px 1px;
}

.ui-accordion .ui-accordion-content {
    padding: 1em 1em;
    border-top: 0;
    overflow: auto;
}

/*--accodion card--*/

.tools-accordion .card-img-top{
    max-width: 60px;
    width: 100%;
    margin:10px 10px;
}

.tools-accordion .card-body {
    flex: 1 1 auto;
    padding: 0.5rem 0.5rem;
}
.tools-accordion .card-body .card-title{
    font-weight: 600;
}
.tools-accordion tbody td {
    font-size: 0.875em;
}

/*---progress bar---*/


.my-progressbar {
	margin-bottom: 10px;
}
.my-progressbar p.title {
	font-family: Montserrat, sans-serif;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	padding: 5px 0;
}
.my-progressbar .bar-container {
	position: relative;
	height: 40px;
}
.my-progressbar .bar-container.shadow {
	-moz-box-shadow: 0px 5px 7px -3px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 5px 7px -3px rgba(0,0,0,.5);
	box-shadow: 0px 5px 7px -3px rgba(0,0,0,.5);
}
.my-progressbar .backgroundBar {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}
.my-progressbar .bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
.my-progressbar .targetBar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	-webkit-animation: Animation 2s infinite ease-in-out;
	-moz-animation: Animation 2s infinite ease-in-out;
	animation: Animation 2s infinite ease-in-out;
}

.my-progressbar .bar-container.border .bar, .my-progressbar .bar-container.border .targetBar, .my-progressbar .bar-container.border .backgroundBar {
	border-bottom: 3px solid rgba(0,0,0,.2);
}
.my-progressbar .progress-percent {
	font-size: 16px;
	position: absolute;
	right: 15px;
}

@keyframes Animation {
  0%   { opacity:.4; }
  50%   { opacity:1; }
  100% { opacity:.4; }
}
@-moz-keyframes Animation{
  0%   { opacity:.4; }
  50%   { opacity:1; }
  100% { opacity:.4; }
}
@-webkit-keyframes Animation{
  0%   { opacity:.4; }
  50%   { opacity:1; }
  100% { opacity:.4; }
}


/*-------------- progress bar ends-----------------*/

#tabs-1 ul li p{
    font-weight: 600;
    font-size: 14px;
}

/*---- journey ----*/

.journey{
    background-color: var(--yellow);
    border: 4px solid var(--border);
    border-bottom: 0;
    border-top: 0;
    padding: 30px 90px;
    position: relative;
}

.journey .card{
    max-width: 536px;
    width: 100%;
    border-radius: 0;
    background-color: var(--intro);
    box-shadow: -12px 12px 0px var(--border);
    padding: 10px;
}

.journey .card-body h6{
    font-weight: 600;
    color: var(--textblack)!important;
}
.journey .card-body .card-title{
    font-weight: 600;
}

.date{
    font-size: 12px;
    color: var(--text-muted);
    margin-left: 10px;
    font-weight: 500;
}

.comptab{
    position: relative;
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    height: auto;
}

.footleft{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.footright{
    position: absolute;
    right: 16%;
    top: 50%;
    transform: translateY(-50%);
}

/*=========== projects ============*/


.projects{
    background-color: var(--menu);
    border: 4px solid var(--border);
    border-top: 0;
    border-bottom: 0;
    padding: 30px 60px;
}

#tabs2{
    max-width: 1246px;
    width: 100%;
    margin: 0 auto;
}

/*------- owl carousel ----------*/

.owl-carousel .item{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23474747FF' stroke-width='6' stroke-dasharray='0' stroke-dashoffset='4' stroke-linecap='square'/%3e%3c/svg%3e");
    padding: 3px;
}

.carouselContent{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 14px 0;
    background-color: var(--white);
    border-top: 3px solid var(--border);
    color: var(--textblack);
}

.owl-carousel .owl-nav button.owl-prev {
    background-color: var(--inactive);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.projects .owl-prev {
    width: 16px;
    height: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -24px;
    display: block !important;
    border: 0px solid black;
}

.owl-carousel .owl-nav button.owl-next {
    background-color: var(--inactive);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.projects .owl-next {
    width: 16px;
    height: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -24px;
    display: block !important;
    border: 0px solid black;
}

.projects .owl-dots {
    margin-top: 30px;
}

.owl-theme .owl-dots .owl-dot.active span{
    background: var(--yellow);
    border: 3px solid var(--border);
    width: 16px;
    height: 16px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: var(--textblack);
    display: block;
    width: 14px;
    height: 14px;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.pro-crd-img{
    max-width: 575px;
    padding: 32px 32px 0 32px;
}

.pro-crd-img img{
     width: 100%;
     height: auto;
     border: 3px solid var(--border);
}

.crd-blue{
    background-color: var(--bgmain);
}

.crd-main{
    background-color: var(--intro);
}

.projects .card{
    box-shadow: -12px 12px 0px var(--border);
    border-radius: 0;
}

.projects .card .card-body{
    padding: 32px;
    position: relative;
    min-height: 39ch;
}

.projects .card .card-body .card-text{
    margin-top: 32px;
}

.projects .card .card-body .card-title{
   font-size: 20px;
   font-weight: 600;
}
.projects .card .card-body .card-title::after{
    content: '';
    position: absolute;
    top: 15%;
    left: 0;
    height: 1px;
    width: 100%;
    margin: 10px auto;
    border: 1px solid var(--border);
}


.modslider .owl-prev {
    width: 16px;
    height: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: block !important;
    border: 0px solid black;
}

.modslider .owl-next {
    width: 16px;
    height: 100px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    display: block !important;
    border: 0px solid black;
}

.modslider .owl-carousel .item{
    background-color: transparent;
    padding: 10px;
    color: var(--white);
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: unset;
    font-size: 16px;
}
.modal-footer ul li{
    font-weight: 500;
    margin-bottom: 10px;
}

/*======== contact ===========*/

.contact{
    background-color: var(--intro);
    border: 4px solid var(--border);
    border-top: 0;
    border-bottom: 0;
    width: 100%;
    margin: 0 auto;
    padding: 50px 90px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
}
.contact div a{
    color: var(--textblack);
    font-size: 1rem;
    font-weight: 500;
}
.contact div{
    padding: 12px 16px;
    border: 4px solid var(--border);
}
.contact div h4{
    margin: 12px 0;
    font-weight: 600;
}
.contact div:first-child{
    background-color: var(--bgmain);
}
.contact div:nth-child(2){
    background-color: var(--menu);
}
.contact div:last-child{
    background-color: var(--yellow);
}

/*========== footer ================*/

.footer-title{
    background-color: var(--border);
    text-align: center;
    padding: 14px 0;
    color: var(--white);
    font-size: 0.825rem;
}